body {
  padding-top: 7.1rem;
  overflow-x: hidden;
}

.hero-image {
  background-image: url(https://images3.alphacoders.com/677/thumb-1920-677583.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-right: -100%
  
}
.starter-template {
  padding: 3rem 1.5rem;
  position: relative;
  left: 15%;
  bottom:20%
  
}

.navbar {
  font-size: 50px;
  background-color: red;

}


#pokemonImage{
  display: block;
  height: 300px;
}

h1, h2, h3, h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secondaryFont {
  font-family: "Lucida Console", Monaco, monospace;
}